.center-text {
    text-align: center;
}

.float-right {
    float: right;
}

.padding-top-sm {
    padding-top: 5px;
}

.position-middle {
    position: absolute;
    top: 20%;
    left: 25%;
}

.width-half {
    width: 50%;
}