.padding-left-sm {
    padding-left: 5px;
}

.padding-top-sm {
    padding-top: 5px;
}

.padding-top-md {
    padding-top: 10px;
}

.position-middle {
    position: absolute;
    top: 20%;
    left: 25%;
}

.width-half {
    width: 50%;
}

.text-editor {
    width: 80%;
    margin: 0 auto;
}

.create-assignment-name {
    width: 80%;
    margin: 0 auto;
}

.submit-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10%;
}